.first{
    background:url("https://steamusercontent-a.akamaihd.net/ugc/866242692210578851/D3BE5BA765E106959EFAE8B8E2C2BE92C81C1672/");
    height: 500px;
    background-repeat:no-repeat;
    background-position:center top;
    
}
body{
    background-color:#010a19;
    color:white;
}
.troll{
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.trolle{
    top: 40%;
    left:42%;
    color:white;
    position:absolute;
}
button{
    position:absolute;
    left:43%;
    border:double white 5px;
    width: 100px;
  height: 100px;
  background-color: white;
  animation-name: rainbow;
  animation-duration: 10s;
  animation-play-state:running;
  animation-iteration-count: 1000;
}
/*div:hover {*/
    /*background-color*/
.elpastor{
    width:350px;
    margin:30px;
    left:-43%;
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: width 2s, height 4s;
      transition: width 2s, height 4s;
}

.le-quack:hover {
    background-color:white;
}
.rainbow{
}
@keyframes rainbow {
    0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
.elmaestro{
    width:350px;
    margin:30px;
    left:-43%;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
     -webkit-transition: width 2s, height 4s;
      transition: width 2s, height 4s;
}
p{
   
    display:flex;
       position: absolute;
    bottom: -400px;
    
    
}
.elmaestro:hover {
  width: 400px;
  height: 400px;
}
.elpastor:hover {
  width: 400px;
  height: 400px;
}
